#world { text-align: center; width: 100%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

#tech { width: 100%; }

#weather { width: 100%; }

#paradoxes { width: 100%; }
