
$primary-color: #EC5242;
$secondary-color: #272A31;
$terciary-color: #D3d3d3;

@font-face {
  font-family: myFirstFont;
  src: url("../Media/Fonts/Cocogoose\ Pro-trial.ttf");
}

$secondary-font: 'Lato', sans-serif;
$primary-font: 'myFirstFont';

$break: 769px;

@mixin responsive {
  @media only screen and (min-width: $break) {
    @content;
  }
}
