@import './abstracts';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  width: 100%;
  max-width: 1800px;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
}

h1, h2, h3 {
  font-family: myFirstFont;
}

h4, h5, h6, p {
  font-family: $secondary-font;
}

hr {
  width: 40px;
  background: $secondary-color;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

ul {
  list-style: none;
}

/* ----------------------- Framework -------------------------- */ 

.color-prim {
  color: $primary-color;
}

.color-prim-br {
  background: $primary-color;
}

.d-none-dk {
  display: block;
  @include responsive {
    display: none;
  }
}

.d-none-mob {
  display: none;
  @include responsive {
    display: block;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-mobile {
  display: flex;
  flex-flow: row wrap;
  @include responsive {
    flex-flow: column wrap;
  }
}

.flex-column-mobile {
  display: flex;
  flex-flow: column wrap;
  @include responsive {
    flex-flow: row wrap;
  }
}

.more-btn {
  background: white;
  border: 1px solid $terciary-color;
  color: $secondary-color;
  font-size: 1.3rem;
  @include responsive {
    display: none;
  }
}