/* --------------------------- Nav Bar ------------------- */

#special-link {
  border: 2px solid $primary-color;
  width: 200px;
  text-align: center;
  &:hover {
    border-radius: 5px;
    transition: ease-in-out 1s;
    margin: 0 2rem;
  }
  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.navbar {
  font-family: $secondary-font;
  z-index: 999;
  width: 100%;
  margin: 0;
  padding: .5rem 4rem;
  color: $primary-color;
  justify-content: space-between;
  li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem;
    align-items: center;
    border-radius: 5px;
    &:hover {
      transition: ease .5s;
      background: $primary-color;
      color: $secondary-color;
      border-radius: 5px;
      transform: scale(1.1);
      margin: 0 1.5rem;
      padding: auto .5rem;
    }
  }
  a{
    color: $primary-color;
    font-family: $secondary-font;
    &:hover {
      color: $secondary-color;
    }
  }
  button {
    color: $primary-color;
    background: none;
    border: 1px solid $secondary-color;
  }
  @include responsive {
    button {
      display: none;
    }
  }
}

.navbar-brand {
  display: none;
  @include responsive {
    display: block;
    i {
      color: $primary-color;
    }
    i:hover {
      font-size: xx-large;
    }
  }
}

.nav-links {
  display: none;
  @include responsive {
    display: block;
  }
}

.about-subnav {
  margin: 1rem 1rem 1rem auto;
  background: transparent;
}

/* ---------------- Hero Graphic -------------------- */

.hero-graphic {
  position: relative;
  width: 50%;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;
  transform: none;
  text-align: center;
  
  h1 {
    z-index: 4;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 0;
    right: 0;
    -webkit-text-stroke: 1px $secondary-color;
    font-size: 3rem;
    font-family: myFirstFont;
    color: $primary-color;
    text-shadow: darken($color: #000000, $amount: 0);
  }
  button {
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 35%;
    display: none;
    font-size: 2rem;
    color: $terciary-color;
    border: none;
    border-radius: 5px;
  }
  &:hover {
    h1 {
      display: none;
      transition: ease 1s;
    }
    button {
      transition: ease-in-out 0.5s;
      font-family: $secondary-font;
      outline: none;
      display: block;
      background: $secondary-color;
      width: 100px;
      height: 50px;
    }
    #thunder {
      display: block;
      transition: ease-in-out linear 2s;
    }
  }
  @include responsive {
    margin: 1rem auto 0 15rem;
    h1 {
      font-size: 7rem;
      top: 30%;
      left: 0;
    }
    button {
      top: 40%;
      left:35%;
    }
    &:hover {
      button {
        width: 200px;
        height: 100px;
        border-radius: 15px;
        font-size: 4rem;
      }
    }
  }
}

#thunder {
  display: none;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  top: -25%;
  left: -50%;
  width: 2000px;
  height: 1000px;
}


#portal {
  z-index: 2;
  width: 30rem;
  height: 30rem;
  animation: 2.5s linear infinite spin !important;
  transform-origin: center;
  transform-box: fill-box;
  @include responsive {
    width: 60rem;
    height: 60rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg)!important;
  }
}

/* ---------------------- Tickets Table --------------------------- */

.step-box {
  width: 55% !important;
  text-align: left;
  padding: 2rem;
  border-radius: 25px;
  border: 1px solid $secondary-color;
}

.table-bg {
  padding: .8rem;
  width: 70%;
  background: repeating-linear-gradient(45deg, $secondary-color, $secondary-color 5px,
   $primary-color 5px, $primary-color 10px,
   $terciary-color 10px, $terciary-color 15px);
}

.table {
  border-collapse: collapse;
  font-family: $secondary-font;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background: white;
  td {
    padding: 1.5rem;
  }
  th {
    padding: 1.5rem;
  }
}

table, th, td {
  border: 1px solid $secondary-color;
}

.ticket-btn-container {
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding: 3rem;
  button {
    width: 33%;
    height: 10rem;
    font-family: myFirstFont;
    font-size: 2.5rem;
    background: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
  }
}

#square {
  text-align: center;
  margin: 4rem auto;
  width: 70px;
  height: 70px;
  background: $secondary-color;
  border: none;
  transform: rotate(45deg);
  i {
    margin: 38% auto auto 9%;
    color: $primary-color;
    border: none;
    transform: rotate(-45deg);
  }
}

/* ----------------------- About Info ----------------------------- */

.about-info {
  font-size: 1rem;
  width: 90%;
  padding: 2rem;
  margin: 1.5rem auto;
  background: lighten($color: $terciary-color, $amount: 50%);
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  @include responsive {
    width: 70%;
    padding: 3rem;
    font-size: 2rem;
  }
}

/* ------------------------- Branding Info ------------------------- */

.branding-info {
  margin: 2rem auto;
  hr {
    border: 1px solid $primary-color;
  }
  h2 {
    margin: 2rem auto;
    font-size: 2rem;
    color: $secondary-color;
  }
  p {
    font-size: 1.1rem;
    color: $secondary-color;
    margin: 1rem auto;
  }
}

/* ---------------------- Program Container ------------------------- */

.programs-container {
  flex-direction: column;
  margin: 0 auto;
  width: 95%;
  height: fit-content;
  @include responsive {
    flex-direction: row;
    width: 85%;
    padding: 3rem;
  }
}

.program-box {
  color: white;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-radius: 2px;
  background-color: rgba(233, 233, 233, 0.1);
  &:hover {
    border: 2px solid $primary-color;
    i {
      color: $primary-color;
    }
  }
  h2 {
    margin: 1rem 0;
  }
  @include responsive {
    text-align: center;
    width: 20%;
    height: 250px;
  }
}

/* ------------------------- Brand Logo -----------------------*/

.brand-logo {
  padding: 1rem;
  border: solid 1px $terciary-color;
  img {
    width: 30%;
    height: 30%;
  }
}

/* ------------------------ Speaker Box --------------------- */

.speaker-box {
  width: 100%;
  height: fit-content;
  text-align: center;
  h3 {
    font-size: 1.2rem;
  }
  &:hover {
    position: relative;
    background: $secondary-color;
    color: $terciary-color;
    border-radius: 15px;
    height: 300%;
    h3 {
      font-size: 1.5rem;
    }
  }
  @include responsive {
    width: 50%;
    text-align: left;
    padding: 2rem;
    img {
      width: 20rem;
      height: 20rem;
      top: 20%;
      left: 35%;
    }
    h3 {
      font-size: 3rem;
    }
    &:hover {
      text-align: end;
      padding: 2rem;
      width: 50%;
      height: 25rem;
    }
  }
}

.speaker-img-box {
  position: relative;
  justify-content: flex-end;
  @include responsive {
    img {
      display: block;
      position: absolute;
      top: 15%;
      left: 15%;
      width: 50%;
      height: 50%;
    }
    &:hover {
      img {
        top: -10%;
        left: 10%;
        width: 200px;
        height: 200px;
      }
    }
  }
}

.speaker-bg-box {
  display: none;
  @include responsive {
    display: flex;
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    width: 40px;
    height: 40px;
  }
}

.special-p {
  color: $primary-color;
  font-size: 1.5rem;
  font-family: $secondary-font;
  font-weight: bolder;
}

/* ------------------- Menu Picking ---------------------------- */

.menu-container {
  border-radius: 2px;
  border: 1px solid $terciary-color;
  background: linear-gradient(lighten($terciary-color,15%), lighten($terciary-color, 20%) 20%, white 20%, white);
}

.menu-box {
  width: 20%;
  padding: 4rem;
}

/* -------------------- Past Content ---------------------------- */

.past-container {
  width: 100%;
  margin: 5rem auto;
}

.past-box {
  width: 80%;
  margin: 1rem auto;
  height: 200px;
  background: url(),
  linear-gradient(to bottom, $primary-color, lighten($primary-color, 50%));
  background-size: cover;
  background-repeat: no-repeat;
  @include responsive {
    width: 30%;
    height: 300px;
  }
}

.past-box-1 {
  width: 80%;
  margin: 1rem auto;
  height: 200px;
  background: url(),
  linear-gradient(to bottom, $primary-color, lighten($primary-color, 50%));
  background-size: cover;
  background-repeat: no-repeat;
  @include responsive {
    width: 30%;
    height: 300px;
  }
}

/* ------------------- Partner Logo Container -------------------- */

.logo-container {
  width: 70%;
  height: 50%;
  margin: 1rem auto;
  justify-content: center;
  i {
    margin: 2rem 3rem;
  }
  
  @include responsive {
    margin: 10rem auto 2rem auto;
    justify-content: space-evenly;
  }
}

/* --------------------- Footer Container -------------------- */

.footer-container {
  margin: 2rem auto;
  justify-content: center;
  width: 100%;
  div{
    margin: 0;
  }
  img {
    width: 30%;
  }
}

.footer-media {
  text-align: right;
  width: 50%;
  padding: 0 2rem 0 0;
  a {
    color: $terciary-color;
  }
}

.footer-info {
  width: 50%;
  text-align: left;
  padding: 0 0 0 2rem;
  color: $terciary-color;
  p {
    width: 60%;
  }
}