/* ------------- Variables -----------------------*/
@font-face {
  font-family: myFirstFont;
  src: url("../Media/Fonts/Cocogoose Pro-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Italic-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Light-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Light Italic-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Semilight-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Semilight Italic-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Thin-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Thin Italic-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro Ultralight-trial.ttf");
  src: url("../Media/Fonts/Cocogoose Pro UltraLight Italic-trial.ttf");
}

/* ------------- Global Styles ------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: myFirstFont;
}

h4, h5, h6, p {
  font-family: "Lato", sans-serif;
}

hr {
  width: 40px;
  background: #EC5242;
  margin: 1rem auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

/* ------------- Header ------------------------- */
.account-nav {
  background: #272A31 !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
  padding: 0;
}

.account-nav a {
  color: white;
  margin: 0 1rem 0 0;
}

.account-nav a:hover {
  color: #EC5242;
  font-size: larger;
}

.main-nav {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#79aed1));
  background: linear-gradient(white, #79aed1);
  -webkit-box-shadow: 3px 3px 5px;
          box-shadow: 3px 3px 5px;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
}

.main-nav nav {
  width: 100%;
  margin: 0;
}

.main-nav li {
  margin: 0 0.5rem;
}

.main-nav li:hover {
  background: #272A31;
  border-radius: 5px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 1.5rem;
  padding: 0 1rem;
}

.main-nav a {
  color: #EC5242;
}

.main-nav a:hover {
  color: #D3D3D3;
}

.main-nav img {
  width: 10%;
  height: 10%;
}

.main-nav .special-link {
  border: 2px solid #EC5242;
  width: 200px;
  text-align: center;
}

.main-nav .special-link:hover {
  margin: 0 2rem;
}

.main-nav .special-link a {
  color: #272A31;
}

.main-nav .special-link a:hover {
  color: #EC5242;
}

.navbar-brand i {
  color: #D3D3D3;
  z-index: 1;
}

.navbar-brand h1 {
  color: #EC5242;
  z-index: 2;
  font-size: 1.3rem;
}

.navbar-brand h3 {
  font-size: 1.2rem;
  color: #EC5242;
}

.navbar-brand i:hover {
  color: #272A31;
}

/* --------------------- Header Media Queries ------------------- */
@media only screen and (m-width: 768px) {
  .account-nav {
    display: none;
  }
  .main-nav {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
  .navbar-toggler img {
    height: 40px;
  }
  .navbar-toggler:active {
    outline: none;
    border: none;
  }
}

/* -------------------- Home-Hero ---------------------- */
.home-hero {
  padding: 5rem 0 0 0;
  text-align: center;
  background: url("../Media/img/CATMEDIA-SPACE-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home-hero h1 {
  font-size: 1.5rem !important;
  font-family: myFirstFont;
  margin: 2rem;
  color: #D3D3D3;
}

.home-hero h2 {
  color: #D3D3D3;
}

.home-hero p {
  font-size: 5rem !important;
  color: #EC5242;
  margin: 0.5rem;
  line-height: 1.6;
}

.hero-graphic {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;
  -webkit-transform: none;
          transform: none;
}

.hero-graphic h1 {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 5rem;
  color: #EC5242;
}

.hero-graphic button {
  position: absolute;
  top: 40%;
  left: 35%;
  display: none;
  color: #D3D3D3;
  border: none;
  border-radius: 5px;
}

.hero-graphic:hover h1 {
  display: none;
}

.hero-graphic:hover button {
  display: block;
  background: #EC5242;
  width: 100px;
  height: 50px;
}

#portal {
  width: 30rem;
  height: 30rem;
  -webkit-animation: 2.5s linear infinite spin !important;
          animation: 2.5s linear infinite spin !important;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg) !important;
            transform: rotate(360deg) !important;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg) !important;
            transform: rotate(360deg) !important;
  }
}

/* ------------------- Home-Hero-Media ------------------------- */
@media only screen and (min-width: 768px) {
  .home-hero h1 {
    font-size: 8rem;
  }
}

/* ---------------------- Main Program -------------------------- */
.main-program {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #272A31;
  color: white;
  padding: 1rem 0;
}

.main-program a {
  color: white;
  font-size: 2rem;
  border-bottom: 1px solid white;
  margin: 5rem 0;
}

.main-program a:hover {
  color: white;
}

.programs-container {
  margin: 0 auto;
  width: 85%;
  height: 300px;
  border: red 1px solid;
}

.program-box {
  color: white;
  text-align: center;
  width: 20%;
  height: 300px;
  background-color: rgba(233, 233, 233, 0.2);
}

.program-box:hover {
  border: 2px solid #D3D3D3;
}

/* ---------------- Featured Speakers ---------------- */
.featured-speakers {
  text-align: center;
  color: #272A31;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.featured-speakers h1 {
  margin: 1rem 0;
}

.speaker-box {
  width: 50%;
  height: 33%;
}

.speaker-box img {
  width: 50px;
  height: 70px;
}

.speaker-box:hover {
  position: relative;
  background: #272A31;
  color: #D3D3D3;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}

.speaker-box:hover img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25%;
  height: 25%;
}

/* ------------------- Partners --------------------------- */
.partners {
  text-align: center;
  background: #272A31;
  color: #D3D3D3;
  padding: 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logo-container {
  width: 75%;
  margin: 1rem auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo-container img {
  width: 100px;
  height: 50px;
}

/* -------------------- Footer ---------------------------- */
.footer-1 {
  background-color: #272A31;
  color: white;
}

.footer-container {
  margin: 2rem auto;
  text-align: justify;
  width: 60%;
}

.footer-container div {
  margin: 1rem;
}

.footer-container img {
  width: 30%;
}

.footer-info {
  width: 70%;
}
/*# sourceMappingURL=styles.css.map */