/* ------------- Variables -----------------------*/

$primary-color: #272A31;
$secondary-color: #EC5242;
$terciary-color: #D3D3D3;

@font-face {
  font-family: myFirstFont;
  src: url(../Media/Fonts/Cocogoose\ Pro-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Light-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Italic-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Thin-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Light\ Italic-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ Semilight\ Italic-trial.ttf);
  src: url(../Media/Fonts/Cocogoose\ Pro\ UltraLight\ Italic-trial.ttf);
}
$secondary-font: 'Lato', sans-serif;


/* ------------- Global Styles ------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

/* ------------- Header ------------------------- */

.account-nav {
  background: $primary-color !important;
  justify-content: flex-end;
  font-size: 1.5rem;
  padding: 1rem 0;
  a {
    color: white;
    margin: 0 1rem 0 0;
  }
  a:hover {
    color: $secondary-color;
    font-size: larger;
  } 
}

.main-nav {
  background: linear-gradient(white, rgb(121, 174, 209));
  box-shadow: 3px 3px 5px;
  font-size: 1.8rem;
  padding: 1rem 0;

  li {
    margin: 0 0.5rem;
    &:hover {
      background: $primary-color;
      border-radius: 5px;
      transform: scale(1.5);
      margin: 0 1.5rem;
      padding: 0;
    }
  }
  a{
    color: $secondary-color;
    &:hover {
      color: $terciary-color;
    }
  }
  
  img {
    width: 10%;
    height: 10%;
  }
  
  .special-link {
    border: 2px solid $secondary-color;
    width: 200px;
    text-align: center;
    &:hover {
      margin: 0 2rem;
      transform: rotate(360deg);
      transition: ease-in 2s;
    }
    a {
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

/* --------------------- Header Media Queries ------------------- */ 

@media only screen and (max-width: 768px) {
  .account-nav {
    display: none;
  }
  .main-nav {
    background: transparent;
    box-shadow: none;
  }
  .navbar-toggler {
    border: none;
    outline: none;
    img {
      height: 40px;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
  
}

/* -------------------- Home-Hero ---------------------- */

.home-hero {
  padding: 5rem 0 0 0;
  text-align: center;
  background: url("../Media/—Pngtree—sunrise\ in\ space_3591477.png");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center;
  height: 800px;
  h1 {
    font-size: 8rem !important;
    font-family: $myFirstFont;
    margin: 2rem;
  }
  h2 {
    color: $terciary-color;
  }
  p {
    font-size: 5rem !important;
    color: $secondary-color;
    margin: 0.5rem;
    line-height: 1.6;
  }
}

.hero-graphic {
  width: 40%;
  height: 40%;
  margin: 1rem;
  padding: 0.5rem;
}

/* ------------------- Home-Hero-Media ------------------------- */

@media only screen and (max-width: 768px) {
  .home-hero {
    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width:769px) and (max-width: 1024px) {

}

/* ---------------------- Main Program -------------------------- */

.main-program {
  text-align: center;
  height: 400px;
  background: $primary-color;
}

.programs-container {
  margin: 0 auto;
  width: 80%;
  height: 300px;
  border: red 1px solid;
}

.program-box {
  color: white;
  text-align: center;
  width: 20%;
  height: 200px;
  border: 1px solid yellow;
}

/* ---------------- Featured Speakers ---------------- */

.featured-speakers {
  text-align: center;
}

.speaker-box {
  width: 50%;
  height: 33%;
}

/* ------------------- Partners --------------------------- */

.partners {
  text-align: center;
  background: $primary-color;
}

.logo-container {
  width: 70%;
  margin: 1rem auto;
  img {
    width: 20%;
  }
}


/* -------------------- Footer ---------------------------- */

.footer-container {
  margin: 2rem auto;
  text-align: justify;
  width: 60%;
  div{
    margin: 1rem;
  }
  img {
    width: 30%;
  }
}

.footer-info {
  width: 70%;
}