/* ----------------------- Footer ------------------------ */

.footer-1 {
  justify-content: center;
  height: 100%;
  padding: 3rem;
  background: white;

  @include responsive {
    background-color: $secondary-color;
    color: $terciary-color;
  }
}
