/* ----------------------- About Info ----------------------------- */

.about-info {
  font-size: 1rem;
  width: 90%;
  padding: 2rem;
  margin: 1.5rem auto;
  background: lighten($color: $terciary-color, $amount: 50%);
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 10px;

  @include responsive {
    width: 70%;
    padding: 3rem;
    font-size: 2rem;
  }
}
