/* ---------------- Hero Graphic -------------------- */

.hero-graphic {
  position: relative;
  width: 50%;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;
  transform: none;
  text-align: center;

  h1 {
    z-index: 4;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    -webkit-text-stroke: 1px $secondary-color;
    font-size: 3rem;
    font-family: $primary-font;
    color: $primary-color;
    text-shadow: darken($color: #000, $amount: 0);
  }

  button {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
  }

  &:hover {
    h1 {
      display: none;
      transition: ease 1s;
    }

    button {
      display: block;
    }
  }

  @include responsive {
    margin: 1rem auto 0 15rem;

    h1 {
      font-size: 7rem;
      top: 30%;
      left: 0;
    }

    button {
      top: 40%;
      left: 35%;
    }

    &:hover {
      button {
        border-radius: 15px;
        font-size: 4rem;
      }
    }
  }
}

#portal {
  z-index: 2;
  width: 30rem;
  height: 30rem;
  animation: 2.5s linear infinite spin;
  transform-origin: center;
  transform-box: fill-box;

  @include responsive {
    width: 60rem;
    height: 60rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
