/* ------------------------ Speaker Box --------------------- */

.speaker-box {
  width: 100%;
  height: fit-content;
  text-align: center;
  h3 {
    font-size: 1.2rem;
  }
  &:hover {
    background: $secondary-color;
    color: $terciary-color;
    border-radius: 15px;
    h3 {
      font-size: 1.5rem;
    }
  }
  @include responsive {
    width: 40%;
    text-align: left;
    padding: 1rem;
    margin: 1rem 0 1rem 6rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
    &:hover {
      padding: 2rem;
      height: 25rem;
      h3 {
        font-size: 2rem;
      }
    }
  }
}

.speaker-img-box {
  margin: 1rem 0 1rem 2rem;
  position: relative;
  justify-content: flex-end;
  img {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  @include responsive {
    img {
      top: 3%;
      left: 17%;
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}

.speaker-info {
  width: 60%;
  margin: 0 2rem 1rem 18rem;
}

.speaker-bg-box {
  display: none;
  @include responsive {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    width: 100px;
    height: 100px;
  }
}

.special-p {
  color: $primary-color;
  font-size: 1.5rem;
  font-family: $secondary-font;
  font-weight: bolder;
}