.ticket-btn-container {
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding: 3rem;
  button {
    width: 33%;
    height: 10rem;
    font-family: myFirstFont;
    font-size: 2.5rem;
    background: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
  }
}