@font-face { font-family: myFirstFont; src: url("../Media/Fonts/Cocogoose Pro-trial.ttf"); }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; overflow-x: hidden; }

main { width: 100%; max-width: 1800px; }

header { z-index: 1000; position: fixed; top: 0; }

h1, h2, h3 { font-family: myFirstFont; }

h4, h5, h6, p { font-family: "Lato", sans-serif; }

hr { width: 40px; background: #001229; margin: 1rem auto; }

a { text-decoration: none; }

a:hover { text-decoration: none !important; }

ul { list-style: none; }

/* ----------------------- Framework -------------------------- */
.color-prim { color: #f8bb4b; }

.color-prim-br { background: #f8bb4b; }

.d-none-dk { display: block; }

@media only screen and (min-width: 769px) { .d-none-dk { display: none; } }

.d-none-mob { display: none; }

@media only screen and (min-width: 769px) { .d-none-mob { display: block; } }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

@media only screen and (min-width: 769px) { .flex-mobile { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; } }

.flex-column-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; }

@media only screen and (min-width: 769px) { .flex-column-mobile { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; } }

.more-btn { background: white; border: 1px solid #90bffd; color: #001229; font-size: 1.3rem; }

@media only screen and (min-width: 769px) { .more-btn { display: none; } }

/* --------------------------- Nav Bar ------------------- */
#special-link { border: 2px solid #f8bb4b; width: 200px; text-align: center; }

#special-link:hover { border-radius: 5px; -webkit-transition: ease-in-out 1s; transition: ease-in-out 1s; margin: 0 2rem; }

#special-link a { color: #f8bb4b; }

#special-link a:hover { color: #001229; }

.navbar { font-family: "Lato", sans-serif; z-index: 999; width: 100%; margin: 0; padding: .5rem 4rem; color: #f8bb4b; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.navbar li { display: inline-block; margin: 0 1rem; padding: 0.5rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 5px; }

.navbar li:hover { -webkit-transition: ease .5s; transition: ease .5s; background: #f8bb4b; color: #001229; border-radius: 5px; -webkit-transform: scale(1.1); transform: scale(1.1); margin: 0 1.5rem; padding: auto .5rem; }

.navbar a { color: #f8bb4b; font-family: "Lato", sans-serif; }

.navbar a:hover { color: #001229; }

.navbar button { color: #f8bb4b; background: none; border: 1px solid #001229; }

@media only screen and (min-width: 769px) { .navbar button { display: none; } }

.navbar-brand { display: none; }

@media only screen and (min-width: 769px) { .navbar-brand { display: block; }
  .navbar-brand i { color: #f8bb4b; }
  .navbar-brand i:hover { font-size: xx-large; } }

.nav-links { display: none; }

@media only screen and (min-width: 769px) { .nav-links { display: block; } }

.about-subnav { margin: 1rem 1rem 1rem auto; background: transparent; }

/* ---------------- Hero Graphic -------------------- */
.hero-graphic { position: relative; width: 50%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; margin: 1rem auto; padding: 0.5rem; -webkit-transform: none; transform: none; text-align: center; }

.hero-graphic h1 { z-index: 4; position: absolute; z-index: 2; top: 25%; left: 0; right: 0; -webkit-text-stroke: 1px #001229; font-size: 3rem; font-family: myFirstFont; color: #f8bb4b; text-shadow: black; }

.hero-graphic button { z-index: 3; position: absolute; top: 40%; left: 35%; display: none; font-size: 2rem; color: #90bffd; border: none; border-radius: 5px; }

.hero-graphic:hover h1 { display: none; -webkit-transition: ease 1s; transition: ease 1s; }

.hero-graphic:hover button { -webkit-transition: ease-in-out 0.5s; transition: ease-in-out 0.5s; font-family: "Lato", sans-serif; outline: none; display: block; background: #001229; width: 100px; height: 50px; }

.hero-graphic:hover #thunder { display: block; -webkit-transition: ease-in-out linear 2s; transition: ease-in-out linear 2s; }

@media only screen and (min-width: 769px) { .hero-graphic { margin: 1rem auto 0 15rem; }
  .hero-graphic h1 { font-size: 7rem; top: 30%; left: 0; }
  .hero-graphic button { top: 40%; left: 35%; }
  .hero-graphic:hover button { width: 200px; height: 100px; border-radius: 15px; font-size: 4rem; } }

#thunder { display: none; pointer-events: none; z-index: 1; position: absolute; top: -25%; left: -50%; width: 2000px; height: 1000px; }

#portal { z-index: 2; width: 30rem; height: 30rem; -webkit-animation: 2.5s linear infinite spin !important; animation: 2.5s linear infinite spin !important; -webkit-transform-origin: center; transform-origin: center; transform-box: fill-box; }

@media only screen and (min-width: 769px) { #portal { width: 60rem; height: 60rem; } }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg) !important; transform: rotate(360deg) !important; } }

@keyframes spin { 0% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg) !important; transform: rotate(360deg) !important; } }

/* ---------------------- Tickets Table --------------------------- */
.step-box { width: 55% !important; text-align: left; padding: 2rem; border-radius: 25px; border: 1px solid #001229; }

.table-bg { padding: .8rem; width: 70%; background: repeating-linear-gradient(45deg, #001229, #001229 5px, #f8bb4b 5px, #f8bb4b 10px, #90bffd 10px, #90bffd 15px); }

.table { border-collapse: collapse; font-family: "Lato", sans-serif; font-size: 1.5rem; width: 100%; height: 100%; background: white; }

.table td { padding: 1.5rem; }

.table th { padding: 1.5rem; }

table, th, td { border: 1px solid #001229; }

.ticket-btn-container { -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto; width: 75%; padding: 3rem; }

.ticket-btn-container button { width: 33%; height: 10rem; font-family: myFirstFont; font-size: 2.5rem; background: #001229; color: #f8bb4b; border-radius: 5px; }

#square { text-align: center; margin: 4rem auto; width: 70px; height: 70px; background: #001229; border: none; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#square i { margin: 38% auto auto 9%; color: #f8bb4b; border: none; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/* ----------------------- About Info ----------------------------- */
.about-info { font-size: 1rem; width: 90%; padding: 2rem; margin: 1.5rem auto; background: white; color: #001229; border: 1px solid #001229; border-radius: 10px; }

@media only screen and (min-width: 769px) { .about-info { width: 70%; padding: 3rem; font-size: 2rem; } }

/* ------------------------- Branding Info ------------------------- */
.branding-info { margin: 2rem auto; }

.branding-info hr { border: 1px solid #f8bb4b; }

.branding-info h2 { margin: 2rem auto; font-size: 2rem; color: #001229; }

.branding-info p { font-size: 1.1rem; color: #001229; margin: 1rem auto; }

/* ---------------------- Program Container ------------------------- */
.programs-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0 auto; width: 95%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

@media only screen and (min-width: 769px) { .programs-container { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 85%; padding: 3rem; } }

.program-box { color: white; width: 100%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; padding: 1rem; border-radius: 2px; background-color: rgba(233, 233, 233, 0.1); }

.program-box:hover { border: 2px solid #f8bb4b; }

.program-box:hover i { color: #f8bb4b; }

.program-box h2 { margin: 1rem 0; }

@media only screen and (min-width: 769px) { .program-box { text-align: center; width: 20%; height: 250px; } }

/* ------------------------- Brand Logo -----------------------*/
.brand-logo { padding: 1rem; border: solid 1px #90bffd; }

.brand-logo img { width: 30%; height: 30%; }

/* ------------------------ Speaker Box --------------------- */
.speaker-box { width: 100%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; text-align: center; }

.speaker-box h3 { font-size: 1.2rem; }

.speaker-box:hover { position: relative; background: #001229; color: #90bffd; border-radius: 15px; height: 300%; }

.speaker-box:hover h3 { font-size: 1.5rem; }

@media only screen and (min-width: 769px) { .speaker-box { width: 50%; text-align: left; padding: 2rem; }
  .speaker-box img { width: 20rem; height: 20rem; top: 20%; left: 35%; }
  .speaker-box h3 { font-size: 3rem; }
  .speaker-box:hover { text-align: end; padding: 2rem; width: 50%; height: 25rem; } }

.speaker-img-box { position: relative; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media only screen and (min-width: 769px) { .speaker-img-box img { display: block; position: absolute; top: 15%; left: 15%; width: 50%; height: 50%; }
  .speaker-img-box:hover img { top: -10%; left: 10%; width: 200px; height: 200px; } }

.speaker-bg-box { display: none; }

@media only screen and (min-width: 769px) { .speaker-bg-box { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; top: -10px; left: -10px; background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%); background-size: 20px 20px; background-position: 0 0, 0 10px, 10px -10px, -10px 0px; width: 40px; height: 40px; } }

.special-p { color: #f8bb4b; font-size: 1.5rem; font-family: "Lato", sans-serif; font-weight: bolder; }

/* ------------------- Menu Picking ---------------------------- */
.menu-container { border-radius: 2px; border: 1px solid #90bffd; background: -webkit-gradient(linear, left top, left bottom, from(#dbeafe), color-stop(20%, #f4f9ff), color-stop(20%, white), to(white)); background: linear-gradient(#dbeafe, #f4f9ff 20%, white 20%, white); }

.menu-box { width: 20%; padding: 4rem; }

/* -------------------- Past Content ---------------------------- */
.past-container { width: 100%; margin: 5rem auto; }

.past-box { width: 80%; margin: 1rem auto; height: 200px; background: url(), -webkit-gradient(linear, left top, left bottom, from(#f8bb4b), to(white)); background: url(), linear-gradient(to bottom, #f8bb4b, white); background-size: cover; background-repeat: no-repeat; }

@media only screen and (min-width: 769px) { .past-box { width: 30%; height: 300px; } }

.past-box-1 { width: 80%; margin: 1rem auto; height: 200px; background: url(), -webkit-gradient(linear, left top, left bottom, from(#f8bb4b), to(white)); background: url(), linear-gradient(to bottom, #f8bb4b, white); background-size: cover; background-repeat: no-repeat; }

@media only screen and (min-width: 769px) { .past-box-1 { width: 30%; height: 300px; } }

/* ------------------- Partner Logo Container -------------------- */
.logo-container { width: 70%; height: 50%; margin: 1rem auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.logo-container i { margin: 2rem 3rem; }

@media only screen and (min-width: 769px) { .logo-container { margin: 10rem auto 2rem auto; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; } }

/* --------------------- Footer Container -------------------- */
.footer-container { margin: 2rem auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

.footer-container div { margin: 0; }

.footer-container img { width: 30%; }

.footer-media { text-align: right; width: 50%; padding: 0 2rem 0 0; }

.footer-media a { color: #90bffd; }

.footer-info { width: 50%; text-align: left; padding: 0 0 0 2rem; color: #90bffd; }

.footer-info p { width: 60%; }

/* ----------------------------- Header ---------------------------- */
.account-nav { display: none; width: 100%; background: #f8bb4b; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; font-size: 1.5rem; font-family: "Lato", sans-serif; padding: 1rem; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.account-nav a { color: #001229; margin: 1rem 1rem 1rem 0; }

.account-nav a:hover { color: #90bffd; }

@media only screen and (min-width: 769px) { .account-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

.main-nav { background: transparent; position: -webkit-sticky; position: sticky; height: 50px; }

@media only screen and (min-width: 769px) { .main-nav { background: #001229; font-size: 1.8rem; padding: 0; width: 100vw; margin: 0; } }

/* ------------------------- Hero section --------------------------- */
.home-hero { background: url("../Media/img/CATMEDIA-SPACE-Background.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 6rem 0 1rem 0; text-align: center; height: 75rem; }

.home-hero > h1 { font-size: 3rem; font-family: myFirstFont; margin: 2rem 0 0 0; color: #90bffd; }

.home-hero h2 { color: #90bffd; }

.home-hero p { font-size: 2rem; color: #001229; margin: 0.5rem; line-height: 1.6; }

@media only screen and (min-width: 769px) { .home-hero { padding: 10rem 0 1rem 0; height: 100rem; text-align: justify; }
  .home-hero > h1 { font-size: 4rem; margin: 2rem auto 0 15rem; }
  .home-hero h2 { margin: 0 auto 0 47%; }
  .home-hero p { margin: 0 25rem; font-size: 3rem; } }

/* ------------------------ About Hero ---------------------- */
.about-hero { z-index: 1; background: url("../Media/img/CATMEDIA-SPACE-Background.jpg"); background-size: cover; background-position: bottom; padding: 3rem 0; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; opacity: 1; text-align: center; }

.about-hero > h1 { color: #f8bb4b; -webkit-text-stroke: 1px #001229; margin: 1rem auto; font-size: 1.3rem; width: 80%; }

.about-hero > p { color: #90bffd; font-size: 2rem; margin: 1rem auto; width: 80%; }

.about-hero a { color: #90bffd; font-size: 2rem; width: 20%; margin: 1rem auto; text-align: center; }

@media only screen and (min-width: 769px) { .about-hero h1 { margin: 3rem auto; font-size: 6rem; } }

/* -------------------- Select Tickets ----------------- */
.select-tickets { text-align: center; padding: 10rem 0 2rem 0; color: #001229; }

.select-tickets > div { margin: 2rem auto; width: 75%; }

.select-tickets h1 { font-family: "Lato", sans-serif; font-size: 3rem; margin: 1rem 0; }

.select-tickets hr { border: 1px solid #f8bb4b; }

/* ------------------- Main Program --------------------- */
.main-program { text-align: center; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; background: #001229; color: white; padding: 1rem 0; }

.main-program a { color: white; font-size: 2rem; border-bottom: 1px solid white; margin: 5rem 0; }

.main-program a:hover { color: white; }

/* ------------------- Branding ---------------------------- */
.branding { height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; text-align: center; border-bottom: 1px solid #90bffd; padding: 3rem; }

.branding img { width: 30%; }

.branding h2 { font-size: 2rem; }

.branding p { font-size: 1.5rem; }

.branding div { margin: 0 auto; }

/* ------------------- Featured Speakers -------------------- */
.featured-speakers { text-align: left; color: #001229; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

.featured-speakers h1 { margin: 1rem 0; }

.featured-speakers > hr { border: 1px solid #f8bb4b; height: 2px; }

@media only screen and (min-width: 769px) { .featured-speakers { text-align: center; } }

/* --------------------- Past -------------------------------- */
.past { width: 100%; text-align: center; }

.past div { margin: 3rem auto; }

/* -------------------- Partners ------------------------------- */
.partners { text-align: center; background: #001229; color: #90bffd; padding: 5rem 0; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

/* ----------------------- Footer ------------------------ */
.footer-1 { height: 100%; padding: 3rem; background: white; color: #001229; }

@media only screen and (min-width: 769px) { .footer-1 { background-color: #001229; color: white; } }

@font-face { font-family: myFirstFont; src: url("../Media/Fonts/Cocogoose Pro-trial.ttf"); }
